global
  maxconn 4096

defaults
  mode tcp
  timeout connect 5s
  timeout client  1m
  timeout server  1m
  option tcplog

frontend psql_write
  bind *:55432
  default_backend pg_write

frontend psql_read
  bind *:55435
  default_backend pg_read

backend pg_write
  balance first
  option tcp-check
  tcp-check connect port 8008
  tcp-check send GET\ /master\ HTTP/1.1\r\nHost:\ node1\r\n\r\n
  tcp-check expect rstatus 200
  server pg1 node1:5432 check inter 1000 fall 3 rise 2 port 8008
  server pg2 node2:5432 check inter 1000 fall 3 rise 2 port 8009 backup
  server pg3 node3:5432 check inter 1000 fall 3 rise 2 port 8010 backup

backend pg_read
  balance roundrobin
  option tcp-check
  tcp-check connect port 8008
  tcp-check send GET\ /replica\ HTTP/1.1\r\nHost:\ node1\r\n\r\n
  tcp-check expect rstatus 200
  server pg1 node1:5432 check inter 1000 fall 3 rise 2 port 8008
  server pg2 node2:5432 check inter 1000 fall 3 rise 2 port 8009
  server pg3 node3:5432 check inter 1000 fall 3 rise 2 port 8010
