global
  maxconn 512

defaults
  mode tcp
  option tcplog
  timeout connect 5s
  timeout client  1m
  timeout server  1m

frontend psql_write
  bind *:15432
  default_backend pg_write

frontend psql_read
  bind *:15435
  default_backend pg_read

backend pg_write
  option httpchk GET /primary
  http-check expect status 200
  default-server inter 1s fall 3 rise 2 on-marked-down shutdown-sessions
  server node1 127.0.0.1:5433 check port 8008
  server node2 127.0.0.1:5434 check port 8009
  server node3 127.0.0.1:5436 check port 8010

backend pg_read
  balance roundrobin
  option httpchk GET /replica
  http-check expect status 200
  default-server inter 1s fall 3 rise 2 on-marked-down shutdown-sessions
  server node1 127.0.0.1:5433 check port 8008
  server node2 127.0.0.1:5434 check port 8009
  server node3 127.0.0.1:5436 check port 8010
