# Conexión a PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/llantapp_bd?schema=public"

# Configuración de JWT
JWT_ACCESS_SECRET="llantapp-clave-super-secretaxdd"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_SECRET="llantapp-clave-super-secretaxdd2"
JWT_REFRESH_TTL="7d"

# Configuración de CORS
CORS_ORIGINS="http://localhost:5173"

# Cookies
COOKIE_SECURE=false   # true en producción con HTTPS

# === Correo saliente (bot) ===
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=bot.llantapp@gmail.com
MAIL_PASS=pzktruliqxupmrvo
MAIL_FROM=LlantApp Bot <bot.llantapp@gmail.com>
MAIL_TO=soporte.llantapp@gmail.com